.inlineMediaCell {
    display: block;
    text-indent: 0 !important;
}

.inlineMediaCell.hidden {
    display: none;
}

.inlineMediaCell > a:link {
    color: inherit;
}

.inline_media_website,
.inline_media_youtube,
.inline_media_twitter,
.inline_media_wiki,
.inline_media_imdb,
.inline_media_xkcd {
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.15);
    -webkit-backdrop-filter: brightness(95%);
    padding: 10px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    border: none;
}

.inline_media_imdb {
    align-items: center;
    justify-content: center;
    max-width: 900px;
}

.inline_media_website_title,
.inline_media_youtube_title {
    font-weight: bold;
}

.inline_media_wiki_title {
    font-size: 1.4em;
    font-family: Georgia, Times, serif;
    text-decoration: underline;
}

.inline_media_website_desc,
.inline_media_wiki_desc {
    line-height: 1.4em;
}


.inline_media_youtube_author,
.inline_media_youtube_views {
    color: #ccc;
    font-size: 0.9em;
    line-height: 1.5em;
}

.inline_media_website_thumbnail,
.inline_media_youtube_thumbnail,
.inline_media_wiki_thumbnail {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 75px;
    margin-right: 15px;
    position: relative;
}

.inline_media_youtube_thumbnail > img {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 75px;
}

.inline_media_youtube_thumbnail > span {
    position: absolute;
    right: 2px;
    bottom: 2px;
    height: 14px;
    line-height: 14px;
    background: #000;
    font-size: 0.75em;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.inline_media_wiki_thumbnail {
    max-height: 160px;
}

.inline_media_website_info,
.inline_media_youtube_info,
.inline_media_wiki_info {
    -webkit-flex: 1;
    flex: 1;
}

blockquote.twitter-tweet {
    display: inline-block;
    padding: 16px;
    margin: 10px 0;
    max-width: 468px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    font: bold 14px/18px Helvetica, Arial, sans-serif;
}

blockquote.twitter-tweet p {
    font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
    margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
    font-weight: normal;
    font-size: 1em;
}

.inline_media_xkcd {
    display: block;
}

.inline_media_xkcd_title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.inline_media_imdb_thumbnail {
    max-height: 260px;
    max-width: 200px;
}

.inline_media_imdb_info {
    padding-left: 20px;
    flex: 1;
}

.inline_media_imdb_title {
    display: inline;
    margin: 0;
    font-size: 1.74em;
    font-weight: 300;
    padding-right: 10px;
}

.inline_media_imdb_infobar {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #eee;
}

.inline_media_imdb_infobar a:link {
    text-decoration: none !important;
    border-bottom: none !important;
    color: inherit !important;
}

.inline_media_imdb_infobar > ::before {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
    color: #eee;
}

.inline_media_imdb_infobar > :first-child::before {
    display: none;
}

.inline_media_imdb_starbox {
    height: 66px;
    display: table;
    text-align: left;
}

.inline_media_imdb_rating {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTU3LjYgMTM2LjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE1Ny42IDEzNi41OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0VGRDE1OTt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNODAsMGMwLDAsMjIsMzMuNSwyNiw0NGMwLDAsNDkuNSw4LDUxLjUsMTBTMTIxLDg4LjUsMTIxLDg4LjVzMTAsNDMsNi41LDQ3LjVTODAsMTE0LDgwLDExNHMtMzAsMTguNS00OSwyMi41YzAsMCw1LTM0LDkuNS00OEM0MC41LDg4LjUsMjYsNzgsMCw1NGMwLDAsMTAuNS01LDU0LTlMODAsMHoiLz48L3N2Zz4=');
    background-size: 90%;
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    line-height: 66px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

.inline_media_imdb_rating_details {
    display: table-cell;
    font-size: 0.9em;
    color: #eee;
    vertical-align: middle;
    margin-left: -50px;
    line-height: 1.5em;
}

.inline_media_imdb_year a:link,
.inline_media_imdb_rating_details a:link {
    color: inherit;
}

.inline_media_imdb_description {
    line-height: 1.5em;
}

.inline_media_imdb_credit {
    padding-top: 10px;
    line-height: 1.25em;
}

.inline_media_imdb_credit > span::after {
    display: block;
    content: ' '
}
